#obj{
	height: 50px;
	width: 50px;
	border: 5px;
	background-color: black;
	animation: anim 4s infinite;
	-webkit-animation: anim 4s infinite; 
    position: absolute;
    top: 90px;
    left: 0px;
}
@keyframes anim { 
	0% {left :0px; top: 0px; background-color: brown; transform: rotate(0deg);}
 	25% {left :100px; top: 0px;background-color: purple; transform: rotate(360deg);} 
 	50% {left :100px; top: 100px;background-color: blue; transform: rotate(-360deg);} 
 	75% {left :0px; top: 100px;background-color: green; transform: rotate(360deg);} 
 	100% {left: 0px; top: 0px;background-color: brown; transform: rotate(-360deg);} } 

